---
import type { GetStaticPaths } from "astro";
import { getImagesByID, getImagesByName } from "../services/getImagesBy";

export const prerender = false; //Server side rendering
const { id } = Astro.params;

let result: any;
if (id) {
  result = await getImagesByID(id);
}
---

<p>{result}</p>
