---
import Layout from "@/layouts/Layout.astro";
import { ImageDetails } from "@/components/details/ImageDetails";
import SelectedImage from "@/components/details/SelectedImage";

const { id } = Astro.params;
---

<Layout
  title="Unsplash Collections - Images preview and download"
  description="Unsplash Collections"
>
  <section
    class="grid grid-cols-1 lg:grid-cols-2 grid-row-1 mx-auto max-w-[1280px] px-7 py-20 md:p-32 gap-5"
  >
    <figure
      transition:name="gallery-photo"
      class="w-full sm:w-[555px] h-[830px] bg-cleargray dark:bg-zinc-800 transition-color rounded-lg place-self-center"
    >
      <SelectedImage id={id} client:visible />
    </figure>
    <ImageDetails id={id} client:visible transition:persist />
  </section>
</Layout>
