---
import Layout from "@/layouts/Layout.astro";
import { SearchComponent } from "@/components/SearchComponent.jsx";
---

<Layout
  title="Unsplash Collections"
  description="Home page for Unsplash Collections"
>
  <div
    class="absolute inset-0 -z-10 w-screen h-screen sm:bg-[url('/hero-image.png')] bg-no-repeat bg-center bg-contain"
  >
  </div>
  <section
    class="mx-auto flex -my-14 justify-center items-center text-center h-full"
  >
    <div></div>
    <section
      class="absolute transform -translate-x-1/2 left-1/2 top-1/2 w-full sm:w-[500px] flex flex-col text-gray-900 dark:text-white justify-center -mt-40 gap-7"
    >
      <h1 class="text-5xl font-semibold">Search</h1>
      <p class="opacity-50 text-md">
        Search high-resolution images from Unsplash
      </p>
      <SearchComponent
        client:load
        transition:name="search-form"
        transition:persist
      />
    </section>
  </section>
</Layout>
