---
import Layout from "../layouts/Layout.astro";
import { SearchComponent } from "../components/SearchComponent.jsx";
---

<Layout
  title="Unsplash Collections"
  description="Home page for Unsplash Collections"
>
  <main
    class="max-w-[1280px] mx-auto flex justify-center items-center bg-[url('/hero-image.png')] bg-contain bg-no-repeat bg-center text-center h-full"
  >
    <div></div>
    <section
      class="min-h-[720px] flex flex-col text-gray-900 dark:text-white justify-center -mt-56 gap-7"
    >
      <h1 class="text-5xl font-semibold">Search</h1>
      <p class="opacity-50 text-md">
        Search high-resolution images from Unsplash
      </p>
      <SearchComponent
        client:load
        transition:name="search-form"
        transition:persist
      />
    </section>
  </main>
</Layout>
