<header class="pt-5">
  <div
    class="transition-all flex justify-between items-center mx-5 sm:mx-20 gap-20 sm:gap-0"
  >
    <div class="">
      <img class="min-w-24 w-48" src="/Logo.svg" alt="Logo" class="h-8 w-8" />
    </div>
    <ul class="flex space-x-4">
      <li>
        <a
          class="text-gray-600 hover:text-gray-900 px-4 py-2 rounded-lg hover:bg-gray-100"
          href="/">Home</a
        >
      </li>
      <li>
        <a
          class="text-gray-600 hover:text-gray-900 px-4 py-2 rounded-lg hover:bg-gray-100"
          href="/collections">Collections</a
        >
      </li>
    </ul>
  </div>
  <hr class="border-1 border-gray-300 mt-5" />
</header>
