---
import Logo from "./icons/Logo.astro";
---

<header class="relative top-0 pt-5 max-w-[1440px] mx-auto z-50">
  <div
    class="transition-all flex justify-between items-center mx-5 sm:mx-20 gap-5 sm:gap-0"
  >
    <a href="/">
      <Logo class="fill-[#101828] dark:fill-white" />
    </a>
    <ul class="flex space-x-1 sm:space-x-4">
      <li>
        <a
          class="transition-colors text-gray-600 hover:text-gray-900 hover:bg-gray-100 dark:hover:text-white px-4 py-2 rounded-lg dark:hover:bg-white/20"
          href="/"
          ><label>
            <input class="hidden" type="radio" name="nav-item" />Home
          </label></a
        >
      </li>
      <li>
        <a
          class="text-gray-600 hover:text-gray-900 dark:hover:text-white px-4 py-2 rounded-lg hover:bg-gray-100 dark:hover:bg-white/20"
          href="/collections">Collections</a
        >
      </li>
      <li>
        <a
          class="text-gray-600 hover:text-gray-900 dark:hover:text-white px-4 py-2 rounded-lg hover:bg-gray-100 dark:hover:bg-white/20"
          href="/search">Search</a
        >
      </li>
    </ul>
  </div>
</header>
<hr class="border-1 border-gray-300 mt-5 w-full" />
