---
import ViewTransitions from "astro/components/ViewTransitions.astro";
import Navbar from "@/components/Header/Header";
interface Props {
  title: string;
  description: string;
}

const { title, description }: Props = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <ViewTransitions />
  </head>

  <body>
    <header>
      <Navbar client:load />
    </header>
    <main>
      <slot />
    </main>
    <footer></footer>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <style is:global>
      body {
        font-family: "Onest", system-ui, sans-serif;
        line-height: 1.5;
        height: 100dvh;
        background-color: white;
        color: rgba(128, 128, 128, 0.797);
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
      }

      @media (prefers-color-scheme: dark) {
        body {
          background-color: #121826;
          color: white;
        }
      }
      .animated-bg {
        animation: animate 3s linear infinite;
      }
      @keyframes animate {
        0% {
          background-position: 0% 1%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
    </style>
  </body>
</html>
